<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{yyyy.MM.dd HH:mm:ss.SSS}}{bright,white} %highlight{%-5level} [%style{%t}{bright,blue}] [%style{%l{5.}}{bright,yellow}:] %msg%n%style{%throwable}{red}"/>
        </Console>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>